* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --light-blue: #1a7bd1;
  --dark-gray: #2c2d3f;
  --light-gray: #757575;
  --bg-white: #f6f6f6;
  --bg-newsletter: #edf2ff;
}

/* Utility Classes */
.text-primary {
  color: var(--light-blue);
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--light-blue);
  color: white;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #135fa1;
}

.btn-secondary {
  background-color: var(--dark-gray);
  color: white;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #4c4f6e;
}

.btn-third {
  transition: 0.3s;
  background-color: white;
  color: var(--light-blue);
  border: 1px solid white;
}
.btn-third:hover {
  background-color: var(--light-blue);
  color: white;
  border: 1px solid var(--light-blue);
}

.btn-forth {
  transition: 0.3s;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.btn-forth:hover {
  background-color: white;
  color: var(--dark-gray);
  border: 1px solid white;
}

.title {
  text-align: center;
}
.title h2 {
  font-size: 32px;
  max-width: 600px;
  margin: auto;
}

.title img {
  margin: 20px 0;
}
.title p {
  max-width: 500px;
  font-size: 16px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--dark-gray);
}

h2,
h3 {
  font-weight: 600;
}

p {
  font-size: 14px;
  color: var(--light-gray);
}

/* Home Start */

.home .navbar {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.logo {
  width: 250px;
}

.home .navbar nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  min-height: 100px;
  padding: 0 2rem;
}

.home .navbar nav ul {
  display: flex;
  cursor: pointer;
}
.home .navbar nav ul a {
  color: var(--dark-gray);
  font-weight: bold;
  margin: 0 15px;
  transition: all 0.3s ease;
}

.home .navbar nav ul a:hover {
  color: var(--light-blue);
}

.home .home-content {
  background: url("./images/bg-home.jpg") center center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.home .home-content .col {
  width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.home .home-content .col small {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
.home .home-content .col h1 {
  font-size: 40px;
  max-width: 600px;
  line-height: 1.4;
}

.home .home-content .col p {
  margin: 10px 0 30px;
  max-width: 500px;
  line-height: 1.6;
}

.home .home-content .col a {
  margin-right: 15px;
}

/* About Start */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.about,
.help,
.services,
.blogs {
  padding: 4rem 0;
}

.about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  margin-top: 3rem;
  align-items: center;
}
.about .row img {
  width: 100%;
}

.about .row .col h3 {
  font-size: 24px;
}

.about .row .col hr {
  width: 60px;
  height: 3px;
  background-color: var(--light-blue);
  border: none;
  margin: 10px 0;
}

.about .row .col p {
  font-size: 16px;
  margin-bottom: 20px;
}
.about .row .col .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about .row .col .list li {
  margin-bottom: 5px;
  color: var(--light-gray);
}
.about .row .col .list li i {
  color: var(--light-blue);
  margin-right: 5px;
}

/* About End */

/* Info Start */
.info,
.brand {
  background: url("./images/info-bg.jpg") no-repeat center center/cover;
  padding: 6rem 0;
  position: relative;
  z-index: 1;
  color: wheat;
}

.info::before,
.call::before,
.brand::before {
  content: "";
  position: absolute;
  background-color: var(--light-blue);
  opacity: 0.2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.info .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .row .col:hover i,
.footer .footer-top  .row .col-1 .social-links a i:hover {
  background-color: white;
  color: var(--light-blue);
}
.info .row .col i {
  font-size: 20px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.4s ease;

}

.info .row .col span {
  font-size: 30px;
  font-weight: bold;
}

.info .row .col p {
  color: white;
}
/* Info End */

/* Help Start */
.help .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-top: 3rem;
  text-align: center;
}
.help .row .col {
  position: relative;
}

.help .row .col i {
  color: var(--light-blue);
  font-size: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  transition: 0.3s;
}
.help .row .col i:hover {
  border: 1px solid var(--light-blue);
}

.help .row .col h3 {
  margin: 20px 0;
}

.help .row .col:first-child::before,
.help .row .col:nth-child(2)::before {
  content: "";
  border-bottom: 3px dotted var(--light-blue);
  position: absolute;
  width: 120px;
  right: -75px;
  top: 35px;
}

/* Help  End */
/* Call  Start */
.call {
  background: url("/images/call-bg.jpg") center center/cover no-repeat;
  padding: 6rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.call .call-content {
  width: 600px;
  margin: auto;
}

.call .call-content h2 {
  text-transform: capitalize;
  font-size: 30px;
  color: white;
}
.call .call-content p {
  font-size: 16px;
  color: white;
  margin: 25px 0;
}

.call .call-content a {
  margin-right: 20px;
}

/* Call  End */

/* Services  Start */
.services .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 3rem;
  margin-top: 5rem;
}

.services .row .item {
  display: flex;
}
.services .row .item i {
  font-size: 30px;
  color: var(--light-blue);
  margin-right: 20px;
}
.services .row .item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
/* Services  End */
/* Price list  Start */
.price-list,
.doctors,
.contact {
  background: var(--bg-white);
  padding: 4rem;
}
.price-list .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 5rem;
}
.price-list .row .col {
  background-color: white;
  border-radius: 5px;
  padding: 3rem 2rem;
  border: 1px solid #ddd;
}

.price-list .row .col .price-details {
  text-align: center;
}
.price-list .row .col .price-details i {
  font-size: 50px;
  color: var(--light-blue);
}

.price-list .row .col .price-details h3 {
  font-size: 24px;
  margin-top: 2rem;
  font-weight: 500;
}

.price-list .row .col .price-details p {
  font-size: 30px;
  font-weight: 600;
  color: var(--light-blue);
}

.price-list .row .col .price-details p span {
  font-size: 18px;
  color: var(--light-gray);
  font-weight: 300;
}
.price-list .row .col ul {
  margin-top: 2rem;
}

.price-list .row .col ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  color: var(--light-gray);
}

.price-list .row .col ul li i.fa-circle-check {
  color: var(--light-blue);
}

.price-list .row .col a {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

/* Price list  End */

/* Brand Start */
.brand .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.brand .row img {
  width: 200px;
  margin-bottom: 20px;
}

/* Brand End */

/* Doctors Start */
.doctors .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  column-gap: 3rem;
  text-align: center;
}

.doctors .row .item {
  background-color: white;
}
.doctors .row .item img {
  width: 100%;
  height: 300px;
}

.doctors .row .item .item-details {
  padding: 2rem 0;
}
.doctors .row .item .item-details h3 {
  font-size: 20px;
}
.doctors .row .item .item-details p {
  margin: 8px 0 20px;
  color: var(--light-blue);
  font-weight: bold;
}
/* Doctors End */
/* Blogs Start */
.blogs .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 2rem;
}
.blogs .row .col,
.doctors .row .item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.blogs .row .col img {
  width: 100%;
}
.blogs .row .col .col-content {
  padding: 2rem;
  position: relative;
}

.blogs .row .col .col-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--light-blue);
  height: 2px;
  width: 0;
  transition: all 0.3s ease;
}

.blogs .row .col:hover .col-content::before {
  width: 100%;
}

.blogs .row .col .col-content .date {
  padding: 5px 12px;
  background-color: var(--light-blue);
  color: white;
  display: inline-block;
  border-radius: 5px;
}
.blogs .row .col .col-content h3 {
  margin: 10px 0;
  font-weight: 500;
}

/* Blogs End */

/* Contact Start */
.contact .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 5rem;
  align-items: center;
}

.contact .row img {
  justify-self: end;
  max-width: 100%;
}
.contact .row .form-control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  margin-bottom: 20px;
  transition: 0.3s;
}

.contact .row .form-control input,
.contact .row .form-control select,
.contact .row textarea {
  padding: 15px;
  width: 100%;
  color: var(--light-gray);
  outline-color: var(--light-blue);
  border: 1px solid #ddd;
}

.contact .btn {
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
}

/* Contact End */

/* Newsletter Start */

.newsletter {
  padding: 5rem 0;
  background: var(--bg-newsletter);
}

.newsletter .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.newsletter .row .col h2 {
  margin-bottom: 10px;
}

.newsletter .row form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.newsletter .row form input,
.newsletter .row form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--light-blue);
}

/* Newsletter End */
/* Footer Start */
.footer .footer-top{
    background-color: var(--light-blue);
    padding: 5rem;
}
.footer .footer-top .row{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
    column-gap: 3rem;
}

.footer .footer-top .row h2,
.footer .footer-top .row p,
.footer .footer-top .row a,
.footer .footer-top .row li,
.footer .footer-top  .row .col-4 input::placeholder,
.footer .copyright p {
color: white;
}

.footer .footer-top  h2 {
    font-size: 22px;
}

.footer .footer-top  hr {
    width: 50px;
    height: 2px;
    border: none;
    background-color: white;
    margin: 10px 0 2rem;
}


/* Col 1 */

.footer .footer-top  .row .col-1 .social-links a i {
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2.1;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px 10px 10px 0;
    transition: 0.3s;
}

/* Col 2 */
.footer .footer-top  .row .col-2 li{
    margin: 10px 0;
    transition: all 0.3s;

} 

.footer .footer-top  .row .col-2 li i{
margin-right: 5px;
}
.footer .footer-top  .row .col-2 li:hover{
transform: translateX(5px);
}

/* Col 3 */
.footer .footer-top  .row .col-3 p,
.footer .footer-top  .row .col-4 p {
margin-bottom: 20px;
}

.footer .footer-top  .row .col-3 li {
    margin: 10px 0;
    }

/* Col 4 */
.footer .footer-top  .row .col-4 {
    position: relative;
}
.footer .footer-top  .row .col-4 input {
    padding: 12px ;
    width: 100%;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;

}


.footer .footer-top  .row .col-4 button{
position: absolute;
padding: 12px;
right: 0;
border: none;
border-radius: 0 5px 5px 0  ;
}

.footer .footer-top  .row .col-4 button i {
    color: var(--light-blue);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.footer .footer-top  .row .col-4 button:hover i{
    color: var(--dark-gray);
    scale: 1.10;

}

/* Copyright */
.footer .copyright{
padding: 2rem 0 ;
text-align: center;
background-color: #135fa1;
}

.footer .copyright a {
    font-weight: bold;
    color: white;
}
/* Footer End */


/* Responsive Start */
@media (max-width:800px) {
    .logo{
        width: 100px;
    }

    .home .navbar nav ul a{
        margin: 0 5px;
    }

    .about .row ,
    .help .row,
    .contact .row,
    .newsletter .row {
        grid-template-columns:  1fr;
        row-gap: 3rem;
    }

    .help .row .col:first-child::before,
    .help .row .col:nth-child(2)::before{
    display: none;
}

.info .row ,
.services .row,
.price-list .row,
.doctors .row ,
.blogs .row,
.footer-top .row {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
}

.contact .row img {
    width: 100%;
    order: 1;
}
.contact .row form {
    order: 2;
};

}


@media (max-width:650px) {
    .home .navbar nav{
        flex-direction: column;
        padding: 10px 0;
    
    }
    .home .home-content .col h1 {
        font-size: 26px;
    }
    .home .home-content .col a{
        margin-bottom: 10px;
    }

    .info .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .info .row .col  {
        flex-direction: column;
        text-align: center;
    }

    .info .row .col i {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .services .row,
    .price-list .row ,
    .doctors .row ,
    .blogs .row,
    .footer .footer-top .row{
        grid-template-columns: 1fr;
    }

    .footer .footer-top {
        padding: 1rem;
    }

.title h2 ,
.call .call-content h2{
    font-size: 22px;
}

.call .call-content h2,
.call .call-content p{
    width: 80%;
}




}

/* Responsive End */